
@model IEnumerable<AIM.Service.Entities.Models.Question>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="@Url.Content("~/Content/toastr.css")"/>

<!-- This view's content starts HERE-->
<section>
    <h2>Create</h2>
    <div id="applicationHost">
        <form data-bind="submit: CreateQuestion">
            <h4>Question</h4>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <label>Question Statement: </label>
                </div>
                <div class="col-md-10">
                    <textarea data-bind="value: newTodo, valueUpdate: 'afterkeydown'" rows="3" cols="80" placeholder="What is you question?"></textarea>
                </div>
            </div>

            @*<div class="form-group">
                @Html.box(model => model.street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.street)
                    @Html.ValidationMessageFor(model => model.street)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.street2, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.street2)
                    @Html.ValidationMessageFor(model => model.street2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.city, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.city)
                    @Html.ValidationMessageFor(model => model.city)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.state, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.state)
                    @Html.ValidationMessageFor(model => model.state)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.zip, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.zip)
                    @Html.ValidationMessageFor(model => model.zip)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone)
                    @Html.ValidationMessageFor(model => model.phone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.userId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.userId)
                    @Html.ValidationMessageFor(model => model.userId)
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</section>

<!-- 3rd party libraries -->
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/q.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/breeze.debug.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/toastr.js")"></script>

<!-- App libraries -->
<script type="text/javascript" src="@Url.Content("~/ViewModels/QuestionViewModel/logger.js")"></script>
<script type="text/javascript" src="@Url.Content("~/ViewModels/QuestionViewModel/questionViewModel.js")"></script>
<script type="text/javascript" src="@Url.Content("~/ViewModels/QuestionViewModel/questionDataService.js")"></script>