@model IEnumerable<AIM.Application.Service.Entities.Models.Job>

@{
    ViewBag.Title = "Job Listings";
}

<h2>Job Listings</h2>

<table class="table">
    <tr>
        <th></th> <!-- Column for the apply button -->

        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullPartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salaryRange)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="center">
            <div>
                <a class="btn btn-success" href="@Url.Action("Details", "Job", new { id = item.jobId })">
                    <i class="icon-zoom-in icon-white"></i>
                    Apply
                </a>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullPartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salaryRange)
        </td>
    </tr>
}

</table>
