@model IEnumerable<AIM.Application.Service.Entities.Models.OpenJob>

@{
    ViewBag.Title = "Job Openings";
}

<h2>Job Openings in @ViewBag.Message</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region.regionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.regionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.name)
        </td>
    </tr>
}

</table>
